@import "./base.css";

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

h1 {
  color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

h1,
p,
a {
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Lexend Deca', sans-serif;
}
